main {
  min-height: 80vh;
}

/* HomeScreen */
.logo_home {
  font-size: 5rem;
}

.desc_home {
  font-size: 5.5rem;
  font-weight: 900;
}

/* AppNavbar */
.nav_centered {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn_nav {
  font-size: 25px;
  background-image: linear-gradient(150deg, #343b3d, #161a1d);
  padding: 5px 10px;
  margin: 0 8px;
  border: none;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 1px #161616;
}

.btn_nav:hover {
  background: linear-gradient(to right, #343b3d, #161a1d);
  box-shadow: 4px 4px 10px 1px rgb(15, 14, 14);
}

.separator {
  font-size: 20px;
  padding: 0 8px;
  color: #5d6872;
}

.logo {
  font-family: "Mr Dafoe", cursive;
  position: relative;
  padding: 0 15%;
  font-size: 2rem;
  background: -webkit-linear-gradient(#8d67fb, #82c0e8, #2a5ddd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* PortfolioAppScreen */
.portfolio {
  background-color: #383d42;
  min-height: 90.4vh;
}

.mask {
  clip-path: polygon(5% 75%, 5% 25%, 50% 0, 95% 25%, 95% 75%, 50% 100%);
}

.portfolio_table_body {
  font-size: 1.2rem;
}

.chart_content {
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
}

.doughnut_chart {
  position: relative;
  width: 40vh;
  margin: 5%;
}

.chart_total_value {
  color: aliceblue;
}

.chart_total_assets {
  color: #808b96;
}

.dim {
  color: #a9b2bb;
  font-size: 75%;
}
.portfolio_hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #333, #ccc, #333);
}

.general_info_bar {
  border-right: 1px solid #333;
  border-image: linear-gradient(to bottom, #333, #ccc, #333) 1;
}

.table_header {
  background-color: #2d3135;
}

.rounded_top_left {
  border-radius: 10px 0 0;
}

.rounded_top_right {
  border-radius: 0 10px 0 0;
}

.portfolio .table td {
  border-bottom: 1px solid #3f4549;
}

/* ExchangeAppScreen */
.coin_cards {
  padding-top: 8rem;
}

.coin_card_upper {
  padding: 1rem;
  width: 40rem;
  background: #222637;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 0 20px 1px rgb(22, 21, 21);
  margin: auto;
}

.coin_card_lower {
  padding: 1rem;
  width: 40rem;
  background: #1a1e21;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 0 20px 1px rgb(22, 21, 21);
  margin: auto;
}

.coin_picker {
  padding-left: 0.5rem;
  margin: auto 0;
  color: aliceblue;
}

.amount_exchange {
  margin: auto 0;
  background: none;
  border: none;
  font-size: 2rem;
  outline: none;
  direction: RTL;
  width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

::placeholder {
  color: aliceblue;
  opacity: 1;
}

.received_alert {
  width: 35rem;
  margin: auto;
  border-radius: 0 0 20px 20px;
  background: linear-gradient(
    90deg,
    rgba(55, 57, 76, 1) 0%,
    rgba(37, 39, 81, 1) 100%
  );
  box-shadow: none;
  text-align: center;
  color: aliceblue;
  animation-duration: 1.5s;
  animation-name: animate-pop;
}

.received_alert.pop {
  animation-name: animate-pop;
}
@keyframes animate-pop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.coin_exchange_from_table {
  background: #0d0e11;
}

.coin_title {
  color: aliceblue;
  font-size: 1.5rem;
}

.coin_subtitle {
  color: #808b96;
  font-size: 0.8rem;
}

.modal tr:hover {
  background: #151619;
}

.coin_amount_btn {
  background: #282b2e;
  border-radius: 15px;
  color: #808b96;
}

.coin_amount_btn_group {
  box-shadow: none;
  width: 40rem;
  margin: 3rem auto;
}

.btn_container {
  width: 40rem;
  margin: auto;
}

.coins_exchange {
  background: linear-gradient(
    45deg,
    rgb(180, 152, 212) 0%,
    rgb(84, 32, 114) 50%,
    rgb(29, 31, 70) 100%
  );
  color: aliceblue;
  width: 40rem;
  margin: auto;
  box-shadow: none;
}
