main {
  min-height: 80vh;
}

/* HomeScreen */
.logo_home {
  font-size: 5rem;
}

.desc_home {
  font-size: 5.5rem;
  font-weight: 900;
}

/* AppNavbar */
.nav_centered {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn_nav {
  font-size: 25px;
  background-image: linear-gradient(150deg, #343b3d, #161a1d);
  padding: 5px 10px;
  margin: 0 8px;
  border: none;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 1px #161616;
}

.btn_nav:hover {
  background: linear-gradient(to right, #343b3d, #161a1d);
  box-shadow: 4px 4px 10px 1px rgb(15, 14, 14);
}

.separator {
  font-size: 20px;
  padding: 0 8px;
  color: #5d6872;
}

.logo {
  font-family: "Mr Dafoe", cursive;
  position: relative;
  padding: 0 15%;
  font-size: 2rem;
  background: -webkit-linear-gradient(#8d67fb, #82c0e8, #2a5ddd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* PortfolioAppScreen */
.portfolio {
  background-color: #383d42;
}

.mask {
  clip-path: polygon(5% 75%, 5% 25%, 50% 0, 95% 25%, 95% 75%, 50% 100%);
}

.portfolio_table_body {
  font-size: 1.2rem;
}

.chart_content {
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
}

.doughnut_chart {
  position: relative;
  width: 40vh;
  margin: 5%;
}

.chart_total_value {
  color: aliceblue;
}

.chart_total_assets {
  color: #808b96;
}

.dim {
  color: #a9b2bb;
  font-size: 75%;
}
.portfolio_hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #333, #ccc, #333);
}

.general_info_bar {
  border-right: 1px solid #333;
  border-image: linear-gradient(to bottom, #333, #ccc, #333) 1;
}

.table_header {
  background-color: #2d3135;
}

.rounded_top_left {
  border-radius: 10px 0 0;
}

.rounded_top_right {
  border-radius: 0 10px 0 0;
}
